# ========================
# DATA (DO NOT UPLOAD)
# ========================
data/
processed_*/
*.npy
*.npz

# ========================
# MODEL FILES
# ========================
checkpoints/
*.pt
*.pth

# ========================
# ENVIRONMENTS
# ========================
deepfake_env/
venv/
.env

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc

# ========================
# LOGS / OUTPUTS
# ========================
*.log
results/
figures/

# ========================
# OS FILES
# ========================
.DS_Store
